#
# SPDX-License-Identifier: Apache-2.0
#

**/coverage/**
**/node_modules/**
docs/**
fabric-network/lib/**
fabric-protos/**
test/typescript/**
fabric-common/**/*.ts
test/**/*.ts
fabric-ca-client/**
fabric-network/test