# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  SOFTHSM2_CONF: './test/fixtures/hsm/softhsm2.conf'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'

- script: |
    sudo apt-get install softhsm2
    softhsm2-util --init-token --slot 0 --label "My token 1" --pin 98765432 --so-pin 98765432
  displayName: 'Install and configure SoftHSM'

- script: npm install
  displayName: 'npm install'

- script: npx gulp run-test-all
  displayName: 'Run tests'
