name: NodeJS with Gulp

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
    
    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install SoftHSM
      run: |
        sudo apt-get install softhsm2
        softhsm2-util --init-token --slot 0 --label "ForFabric" --pin 98765432 --so-pin 1234

    - name: Build and run tests
      run: |
        npm install
        npm run installAndGenerateCerts
        npm run pullFabricImages
        npm test

